.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;;
  font-style: normal;
}

body {
    background-color: #ffeff2;
    font-family: unbounded;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    

}



.topnav {
    background-color: #f5b6c3;
    font-family: Work Sans;
    color: #982d46;
    
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.topnav .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.topnavName {
    font-family: unbounded;
    padding: .5em;
    letter-spacing: .3em;
    font-style: oblique;
    font-weight: 900;
}
.links a {
    color: #982d46;
    padding: .5em;
    text-decoration: none;
}
.links a:hover {
    background-color: #9ebf5e;
    color: #526d43;
    font-family: unbounded;
    font-size: smaller;
    cursor: pointer;
}



.bottomnav {
    background-color: #f5b6c3;
    font-family: Work Sans;
    color: #c05f75;
    padding: 1.5vh;
    
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: nowrap;

}
.bottomnav a {
    text-decoration: none;
    color:#982d46;
}
.bottomnav a:hover {
    color: #526d43;
    background-color: #9ebf5e;
}










.content {
    height: 85vh;
    width: 90%;
    margin: 10px;
    align-self: center;
    

    /* background-image: url(css/assets/interpreterbg.png); */
    background-size: contain;
    background-repeat: no-repeat;


    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    
    
    gap: 1em;
    grid-template-areas: 
    "box1 box1 box2"
    "box1 box1 box2"
    "box1 box1 box3" 
    ;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
}



.box2 {
    /* background-color: rgb(79, 79, 163); */
    /* height: 30vh; */
}

.pplDrawing {
    /* background-color: rgb(89, 144, 33); */
    background-image: url(css/assets/interpreterbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "dBox1 dBox1"
    "dBox3 dBox2"
    ;
}



.drawingBoxTop {
    background-color: red;
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
}
.topDescription {
    max-height: 90%;
    max-width: 80%;
    background-color: aliceblue;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 20px;
}




.drawingBoxR {
    background-color: rgb(244, 67, 149);
}



.pplDrawingBox {
    /* background-color: purple; */
    background-image: url(css/assets/speechpeople.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}


.box-form {
    background-color: #eeb6c3;
    /* background-color: red; */
    border-radius: 2vh;
    height: 40vh;
    

    
    display: grid;

    justify-content: center;
    align-items: center;
    padding: 0;
}

.formDescription {
    padding: 1vh;
    margin: 1vh;
    max-height: 65%;
    background-color: #e0889d;
    overflow-y:scroll;
    border-radius: 1vh;
    margin-bottom: -10px;
    margin-top: -5px;

    font-size: small;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.formDescription::-webkit-scrollbar {
  display: none;
}





input[type=text], select { 
    padding: .3vh; 
    background-color: #ffeff2;
    color: #982d46;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Work Sans;
    margin-bottom: 1vh;
    width: 100%;
}
input[type=email], select {
    background-color: #ffeff2;
    padding: .3vh;
    border: .4vh solid #e692a5;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Work Sans;
    margin-bottom: 1vh;
    width: 100%;
}

::placeholder {
    color:#e0889d;
    font-style: italic;
}

.form-control {
    background-color: hsl(349, 100%, 97%);
    /* color: #982d46; */
    padding: .3vh;
    border: .4vh solid #e692a5;
    border-radius: 1vh;
    box-sizing: border-box;
    font-family: Work Sans;
    outline: none;
    width: 100%;

}

.formContainer {
    background-color:#eeb6c3;
    /* background-color: blue; */
    border-radius: 3vh;
    border: 5px solid #e0889d;
    padding: 2vh;
    margin: 1vh;
}



button[type=submit] {
    color: #982d46;
    background-color: #c3e187;
    color: #526d43;
    padding: 1vh;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Work Sans;
    cursor: pointer;
}


 @media only screen and (max-width: 110vh) {
    body {
        background-color: blue;
    }
    
 }
 
