.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    ;
    font-style: normal;
}

body {
    background-color: #ffeff2;
    font-family: unbounded;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url(css/assets/graph.png);
    background-size: contain;



}

.content {
    /* PARENT */
    height: 85vh;
    width: 90%;
    margin: 10px;
    align-self: center;
    /* GRID */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1em;
    grid-template-areas:
        /* box1 is "pplDrawing - big left section, box2 is __ and box3 is the contact box*/
        "box1 box1 box2"
        "box1 box1 box2"
        "box1 box1 box3"
    ;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
}

/* #region TOPNAV */
.topnav {
    /*PARENT*/
    background-color: #f5b6c3;
    font-family: Work Sans;
    color: #982d46;
    /* FLEX  */
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.topnav .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.topnavName {
    /*MEJETTA on topnav*/
    font-family: unbounded;
    padding: .5em;
    letter-spacing: .3em;
    font-style: oblique;
    font-weight: 900;
}

.links a {
    /* home about me my work faq contact*/
    color: #982d46;
    padding: .5em;
    text-decoration: none;
}

.links a:hover {
    background-color: #9ebf5e;
    color: #526d43;
    font-family: unbounded;
    font-size: smaller;
    cursor: pointer;
}

/* #endregion */


/* #region BOTTOMNAV */
.bottomnav {
    /* PARENT */
    background-color: #f5b6c3;
    font-family: Work Sans;
    color: #c05f75;
    padding: 1.5vh;
    /* FLEX*/
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: nowrap;

}

.bottomnav a {
    text-decoration: none;
    color: #982d46;
}

.bottomnav a:hover {
    color: #526d43;
    background-color: #9ebf5e;
}

/* #endregion */


.box2 {
    /*CURRENTLY FILLER*/
    background-color: rgb(79, 79, 163);
    /* height: 30vh; */
}


.mainLeftSection {
    /*PARENT*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        /*dBox1 is mainLeftTop dBox3 is pplDrawing and dBox2 is ___*/
        "dBox1 dBox1"
        "dBox3 dBox2"
    ;
}

/* #region TOP LEFT SECTION */
.mainLeftTop {
    /* PARENT */
    /* BACKROUND  */
    /* background-color: rgb(246, 40, 81); */
    background-image: url(css/assets/rippedPaperLong.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* GRID  */
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
    padding-bottom: 2%;
    padding-top: 2%;
    /* border-radius: 2vh; */
}

.topDescription {
    /* CHILD */
    /* TEXT  */
    color: #982d46;
    text-shadow: -2px -2px 0 #f5b6c3, 2px -2px 0 #f5b6c3, -2px 2px 0 #f5b6c3, 2px 2px 0 #f5b6c3;
    /* TEXT BORDER */

    max-height: 75%;
    max-width: 75%;
    margin: 0;
    border-radius: 2vh;
    padding: 2%;
    /* background-color: rgb(218, 109, 131, 50%); */

    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* #endregion */


.drawingBoxR {
    /*CURRENTLY FILLER*/
    background-color: rgb(244, 67, 149);
}


.pplDrawingBox {
    /* GRAPHIC IN BOTTOM LEFT */
    /* background-color: purple; */
    background-image: url(css/assets/speechpeople.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}



/* #region CONTACT FORM  */
.box-form { /* MAIN BODY OF FORM*/
    background-color: #eeb6c3;
    /* background-color: red; */
    border-radius: 2vh;
    height: 40vh;
    /* GRID  */
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.formDescription { /* TOP HALF - DESC */
    padding: 1vh;
    margin: 1vh;
    max-height: 65%;
    background-color: #e0889d;
    border-radius: 1vh;
    margin-bottom: -10px;
    margin-top: -5px;

    /* TEXT  */
    font-size: small;
    color: #982d46;

    /* SCROLLING  */
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;    
}

.formDescription::-webkit-scrollbar {
    display: none;
}





input[type=text], /* SETTINGS FOR Y/N  */
select {
    padding: .3vh;
    background-color: #ffeff2;
    color: #982d46;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Work Sans;
    margin-bottom: 1vh;
    width: 100%;
}

input[type=email],
select { /* SETTINGS FOR EMAIL TXT BOX */ 
    background-color: #ffeff2;
    padding: .3vh;
    border: .4vh solid #e692a5;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Work Sans;
    margin-bottom: 1vh;
    width: 100%;
}

::placeholder { /* SETTINGS FOR TXT BOXES BEFORE INPUT */
    color: #e0889d; 
    font-style: italic;
}

.form-control {
    background-color: hsl(349, 100%, 97%);
    color: #982d46; /*CHANGES INPUTED TXT COLOR IN TXT BOXES*/ 
    padding: .3vh;
    border: .4vh solid #e692a5;
    border-radius: 1vh;
    box-sizing: border-box;
    font-family: Work Sans;
    outline: none;
    width: 100%;

}

.formContainer { /* FORM SETTINGS */
    background-color: #eeb6c3;
    /* background-color: blue; */
    border-radius: 3vh;
    /* border: 5px solid #e0889d; */
    padding: 2vh;
    margin: 1vh;
}



button[type=submit] { /* SUBMIT FORM BUTTON */ 
    color: #982d46;
    background-color: #c3e187;
    color: #526d43;
    padding: 1vh;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Work Sans;
    cursor: pointer;
}

button[type=submit]:hover { /* HOVERING OVER SUBMIT BUTTON */
    background-color: #9ebf5e;
    color: #3c562f;
    font-family: unbounded;
}

/* #endregion */


@media only screen and (max-width: 110vh) {
    body {
        background-color: blue;
    }

}